body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
}

button {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #00509E;
}

h1, h2 {
    margin: 10px 0;
}

p {
    font-size: 1.2em;
    margin: 10px 0;
}
